*{margin: 0; padding: 0;}

body{
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-style: inherit;

      background-image: url(oculos.jpg);
      background-size: cover;
}

.menu{
    list-style:none;
    border:1px solid #c0c0c0;
    float:left;
    font-weight: bold;
    }
.menu li{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
    }
.menu li a{color:#d6d7d8; text-decoration:none; padding:5px 10px; 
    display:block;}
.menu li a:hover{
    background:#72c0e4;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
    }
.menu li ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#ffffff52;
    display:none;
    }
.menu li:hover ul, .menu li.over ul{display:block;}
.menu li ul li{
    border:1px solid #c0c0c0b7;
    display:block;
    width:150px;
    }

h1{
    color:rgb(42, 161, 165);
    font-size:x-large ;
    text-align: center;
    font-size: 35px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
        
